<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GokuPhaser</name>
    <description>
        Este juego fue creado como parte del curso de creación de aplicaciones moviles en Miríadx de Telefonica.
    </description>
    <author email="whacosta@fiec.espol.ecu.ec" href="https://github.com/whacosta/GokuPhaser">
        Wilmer Acosta
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
