<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.gokuphaser" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GokuPhaser</name>
    
	<!--<plugin spec="https://github.com/apache/cordova-plugin-device-motion.git" source="git" /> -->
    <description>
        Juego de esquivar objetos usando el acelerometro.
    </description>
    <author email="whacosta@fiec.espol.ecu.ec" href="https://github.com/whacosta/GokuPhaser">
        Wilmer Acosta
    </author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~2.0.0"/>
    <plugin name="cordova-plugin-screen-orientation" source="npm" spec="~3.0.1"/>
    <plugin name="cordova-plugin-firebase" source="npm" spec="~0.12.1" />
    <content src="index.html" />
    <access origin="*" />
</widget>
